@import 'tailwindcss';

.icon {
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  min-width: 0.5rem;
  min-height: 0.5rem;
  display: inline-block;
}
.icon-chevron-down {
  mask-image: url('/assets/chevron-down.svg');
}
